diffusers
torch
torchvision
transformers
accelerate
safetensors
gradio
pillow
sentencepiece
matplotlib
plotly
pandas
scikit-learn
seaborn
bs4
dashscope
requests
google-generativeai
opencv-python
uuid
googletrans
