name: Deploy Gradio App to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run setup script
        run: |
          chmod +x setup.sh
          ./setup.sh

      - name: Run Gradio app and save static files
        run: |
          mkdir -p public
          nohup python app.py & sleep 30 &
          sleep 60  # Dodaj dodatkowe oczekiwanie, aby upewnić się, że serwer Gradio jest uruchomiony
          wget -r -np -N -P ./public http://localhost:7860

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_PAT }}
          publish_dir: ./public
